/* font-family: 'Jost', sans-serif; */
/* font-family: 'Rubik Mono One', sans-serif; */
/* font-family: 'Inter', sans-serif; */

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 72px;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #E3DADA;
}

.nav--logo {
    font-family: 'Rubik Mono One', sans-serif;
    max-width: 260px;
    color: #282208;
    text-align: center;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}

.nav--menu {
    display: flex;
    list-style: none;
    margin-left: 266px;
    font-family: 'Jost', sans-serif; 
    color: #000;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.nav--menu > li {
    padding-right: 50px;
}

.nav--btn {
    display: inline-block;
    color: #D4ED60;
    background-color: #282208;
    padding: 4px 24px;
    border-radius: 20px;
    width: 120px;
    height: 39px;
    margin-left: 332px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*******************/

.hero {
    background-image: url("assets/images/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 760px;
    background-color: #35372b;
}

.hero--ad {
    position: absolute;
    top: 167px;
    font-family: 'Jost', sans-serif;
    color: #E3DADA;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero--title {
    position: absolute;
    top: 222px;
    font-family: 'Rubik Mono One', sans-serif;
    width: 620px;
    color: #E3DADA;
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.50);
    font-size: 3.75em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.hero--btn {
    position: absolute;
    top: 400px;
    width: 322px;
    height: 76px;
    background-color: #3F2305;
    font-family: 'Jost', sans-serif;
    color: #FFF;
    border-radius: 50px;
    padding: 12px;
    text-align: center;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/**********************/

.content {
    width: 100%;
    height: 832px;
    background-color: #E3DADA;
}

.content--menu {
    display: flex;
    padding-top: 102px;
    margin-left: 167px;
    list-style: none;
    color: #3F2305;
    font-family: 'Jost', sans-serif; 
    font-size: 2.5em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

}

.content--menu > li {
    margin-right: 80px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}

.menu--card {
    position: relative;
    background-image: url('/src/assets/images/pexels-valeria-boltneva-1639562.jpg');
    background-size: cover;
    background-position: right;
    font-family: 'Jost', sans-serif;
    width: 360px;
    height: 360px;
    border-radius: 20px;
}

.menu--title {
    position: absolute;
    top: 390px;
    color: #3F2305;
    font-family: 'Jost', sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.menu--text {
    position: absolute;
    top: 430px;
    font-family: 'Jost', sans-serif;
    color: #3F2305;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*********************/

.ad {
    width: 100%;
    height: 832px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ad--one {
    position: relative;
    background-color: #3F2305;
}

.ad--promo {
    position: absolute;
    padding-top: 160px;
    left: 50px;
    font-family: 'Jost', sans-serif;
    color: #E3DADA;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.ad--title {
    position: absolute;
    padding-top: 240px;
    left: 50px;
    width: 400px;
    height: 204px;
    font-family: 'Jost', sans-serif;
    color: #E3DADA;
    font-size: 6em;
    font-style: normal;
    font-weight: 500;
    line-height: 95px; 

}

.ad--text {
    position: absolute;
    width: 580px;
    height: 375px;
    padding-top: 480px;
    left: 50px;
    color: #E3DADA;
    font-family: 'Jost', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
    letter-spacing: 0.96px;
}

.ad--two {
    background-image: url("/src/assets/images/jonathan-borba-8WbeydChgQA-unsplash.jpg");
    background-size: cover;
    background-position: right;
}

/********************/

.content--slider {
    background-color: #E3DADA;
    width: 100%;
    height: 832px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content--slider1 {
    position: relative;
    background-color: #E3DADA;
}

.content--slider1 > h3 {
    position: absolute;
    left: 50px;
    padding-top: 160px;
    color: #3F2305;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
}

.content--slider1 > h1 {
    position: absolute;
    width: 626px;
    left: 50px;
    padding-top: 211px;
    color: #3F2305;
    font-family: 'Jost', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px; 
}

.content--slider1 > p {
    position: absolute;
    width: 516px;
    left: 50px;
    padding-top: 523px;
    color: #3F2305;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; 
    letter-spacing: 0.96px;
}

.content--slider2 {
    position: relative;
}

.slider2--image {
    background-image: url("../src/assets/images/francesca-hotchin-p5EiqkBYIEE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 50px;
    top: 132px;
    width: 548px;
    height: 668px;
    border-radius: 30px;

}

/***********************/

.blog {
    background-color: #CED6AB;
    width: 100%;
    height: 500px;
}

.blog--title {
    display: flex;
    position: relative;
}

.blog--title > h3 {
    font-family: 'Jost', sans-serif;
    color: #3F2305;
    position: absolute;
    left: 50px;
    padding-top: 50px;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.r--arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 1200px;
}

.l--arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 1120px;
}

.card--blog {
    width: 500px;
    height: 262px;
    background-color: #E3DADA;
    margin-left: 50px;
    margin-top: 148px;
    border-radius: 20px;
}

.card--blog > h3 {
    font-family: 'Inter', sans-serif;
    color: #3F2305;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 36px 0px 0px 31px;
}
